In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("50_Startups.csv")

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
# data Preprocess using get_dummies
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [6]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [8]:
indep=dataset.iloc[:,[0,1,2,4,5]] # using iloc method

In [9]:
indep.head()

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0  165349.20       136897.80        471784.10              0               1
1  162597.70       151377.59        443898.53              0               0
2  153441.51       101145.55        407934.54              1               0
3  144372.41       118671.85        383199.62              0               1
4  142107.34        91391.77        366168.42              1               0

In [10]:
dep=dataset[['Profit']]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [14]:
from sklearn.svm import SVR
regressor=SVR(kernel='poly',C=5000)
regressor.fit(x_train,y_train)

C:\Users\ELCOT\.eclipse\anaconda\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=5000, kernel='poly')

In [15]:
regressor.intercept_

array([109244.25628352])

In [16]:
regressor.n_support_

array([35])

In [17]:
regressor.support_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34])

In [19]:
y_pred=regressor.predict(x_test)

In [20]:
from sklearn.metrics import r2_score
rscore=r2_score(y_pred,y_test)

In [21]:
rscore

0.5902140262651703

In [22]:
import pickle
filename="finalmodelPreinput_SVMR.sav"
pickle.dump(regressor,open(filename,'wb'))

In [54]:
preinput=sc.transform([[1300,12000,4000,0,1]])

C:\Users\ELCOT\.eclipse\anaconda\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [55]:
loaded_model=pickle.load(open("finalmodelPreinput_SVMR.sav",'rb'))
result=loaded_model.predict(preinput)
result

array([-7395.5666638])